.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust as needed */
    text-align: center;
}

.button{
    margin-top: 20px;
}

h1{
    margin-bottom: 20px;
}

p{
    margin-top: 0;
}

*{
    padding: 10px;
    box-sizing: border-box;
}